@{
    //ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int numCitas = ViewBag.citas;
    int numPac = ViewBag.items;
    int numMedicos = ViewBag.medicos;
    int numConsultorios = ViewBag.consultorios;
}

<link rel="stylesheet" href="~/css/BoxInfo.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>

<!--datables CSS básico-->
<link rel="stylesheet" href="~/DataTables/datatables.min.css" />
<!--datables estilo bootstrap 4 CSS-->
<link rel="stylesheet" href="~/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" href="~/SweetAlert2/sweetalert2.min.css" />

<script src="~/jquery/jquery-3.3.1.min.js"></script>
<script src="~/popper/popper.min.js"></script>
<script src="~/Bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript" class="init">
     var table;
    $(document).ready(function () {
        var cargandoGeneral = Swal.fire({
            title: 'Cargando datos ...',
            allowOutsideClick: false,
            showCancelButton: false,
            showConfirmButton: false
        });
        table = $('#tablaCitas').DataTable({
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json",
            },

            ajax: {
                type: "POST",
                url: '@Url.Action("listarCitas", "Home")',

                complete: function (data) {
                    cargandoGeneral.close();
                }
            },

            columns: [
                {
                    "name": "Id",
                    "render": function (data, type, row, meta) {
                        return row.Id;
                    },
                },
                {
                    "name": "Id_paciente",
                    "render": function (data, type, row, meta) {
                        return row.Id_paciente;
                    },
                },
                {
                    "name": "Fecha",
                    "render": function (data, type, row, meta) {
                        var fecha = "";
                        if (row.Fecha) {
                            fecha = row.Fecha == '0001-01-01T00:00:00' ? '' : row.Fecha.split('T')[0].split('-').reverse().join('/');
                        }
                        return fecha;
                    },
                },
                {
                    "name": "Hora",
                    "render": function (data, type, row, meta) {
                        return row.Hora;
                    },
                },
            ]
        });
    })
</script>

<script type="text/javascript" class="init">
     var table;
    $(document).ready(function () {
        var cargandoGeneral = Swal.fire({
            title: 'Cargando datos ...',
            allowOutsideClick: false,
            showCancelButton: false,
            showConfirmButton: false
        });
        table = $('#tablaPacientes').DataTable({
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json",
            },

            ajax: {
                type: "POST",
                url: '@Url.Action("listarPacientes", "Home")',

                complete: function (data) {
                    cargandoGeneral.close();
                }
            },

            columns: [
                {
                    "name": "Nombre",
                    "render": function (data, type, row, meta) {
                        return row.Nombre + " " + row.Apellido;
                    },
                },
                {
                    "name": "Telefono",
                    "render": function (data, type, row, meta) {
                        return row.Telefono;
                    },
                },
            ]
        });
    })
</script>

<br />
<br />

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <strong>Panel de Control</strong>  <small>Version 1.0</small>
            </div>
            <div class="card-body">
                <canvas id="ChartCitas"></canvas>
            </div>
        </div>

    </div>
    <div class="col-sm-4">
        <div class="alert-wrap">
            <div class="alert alert-success">
                <i class="fas fa-medkit fa-2x"></i> <strong>CITAS TOTALES:</strong> @numCitas
            </div>

            <div class="alert alert-info">
                <i class="fas fa-users fa-2x"></i> <strong>PACIENTES TOTALES:</strong> @numPac
            </div>

            <div class="alert alert-warning">
                <i class="fas fa-user-md fa-2x"></i> <strong>MÉDICOS TOTALES:</strong> @numMedicos
            </div>

            <div class="alert alert-danger">
                <i class="fas fa-hospital-alt fa-2x"></i> <strong>CONSULTORIOS TOTALES:</strong> @numConsultorios
            </div>
        </div>
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <strong>Últimas citas</strong>
            </div>
            <div class="card-body">
                <!--Table-->
                <table id="tablaCitas" class="table table-hover table-fixed" style="width:100%">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th> Paciente </th>
                            <th> Fecha </th>
                            <th> Hora </th>
                        </tr>
                    </thead>
                    <tfoot>

                    </tfoot>
                </table>
                <!--Table-->
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <strong>Últimos Pacientes</strong>
            </div>
            <div class="card-body">
                <!--Table-->
                <table id="tablaPacientes" class="table table-hover table-fixed" style="width:100%">
                    <thead>
                        <tr>
                            <th> Paciente </th>
                            <th> Teléfono </th>
                        </tr>
                    </thead>
                    <tfoot>

                    </tfoot>
                </table>
                <!--Table-->
            </div>
        </div>
    </div>
</div>


<script>
    var ctx = document.getElementById("ChartCitas").getContext("2d");
    var MyChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            datasets: [{
                label: 'Numero de citas',
                data: [20, 36, 51, 10, 9, 78, 64, 18, 78, 85, 11, 3],
                backgroundColor: [
                    'rgb(0, 153, 255, 0.5)',
                    'rgb(163, 0, 204, 0.5)',
                    'rgb(0, 51, 17, 0.5)',
                    'rgb(255, 102, 0, 0.5)',
                    'rgb(179, 179, 0, 0.5)',
                    'rgb(255, 0, 0, 0.5)',
                    'rgb(0, 255, 255, 0.5)',
                    'rgb(204, 51, 0, 0.5)',
                    'rgb(68, 204, 0, 0.5)',
                    'rgb(0, 0, 204, 0.5)',
                    'rgb(102, 0, 102, 0.5)',
                    'rgb(102, 153, 255, 0.5)'
                ]
            }]
        }
    });
</script>



<script type="text/javascript" src="~/DataTables/datatables.min.js" defer></script>
<script src="~/SweetAlert2/sweetalert2.all.min.js"></script>