@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="~/css/BoxInfo.css" />

<br />
<br />

<div class="card">
    <div class="card-header">
        <strong>Panel de Control</strong>  <small>Version 1.0</small>
    </div>
    <div class="card-body">
        <div class="alert-wrap">
            <div class="alert alert-success">
                @*<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>*@
                <i class="fas fa-medkit"></i> <strong>CITAS TOTALES:</strong> 964.00
            </div>

            <div class="alert alert-info">
                <i class="fas fa-users"></i> <strong>PACIENTES TOTALES:</strong> 3.00
            </div>

            <div class="alert alert-warning">
                <i class="fas fa-user-md"></i> <strong>MÉDICOS TOTALES:</strong> 25.00
            </div>

            <div class="alert alert-danger">
                <i class="fas fa-hospital-alt"></i> <strong>CONSULTORIOS TOTALES:</strong> 47.00 @*<a href="#" class="alert-link">Take Action</a> !!*@
            </div>
        </div>
    </div>
</div>






