
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var StockMonitor = ViewBag.MonitorSV;
    var StockElectroquirúrgicas = ViewBag.Electroquirúrgicas;
    var StockElectrocardiograma = ViewBag.Electrocardiograma;
    var StockRespArtificial = ViewBag.RespArtificial;
    var StockDesfibrilador = ViewBag.Desfibrilador;
    var StockEsterilizadores = ViewBag.Esterilizadores;
    var StockUltrasonido = ViewBag.Ultrasonido;
    var StockCamasCamillas = ViewBag.CamasCamillas;
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
@*==============================================================================================*@
<link rel="stylesheet" href="~/DataTables/datatables.min.css" />
@*==============================================================================================*@
<link rel="stylesheet" href="~/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" />
@*==============================================================================================*@
<link rel="stylesheet" href="~/SweetAlert2/sweetalert2.min.css" />
@*==============================================================================================*@
<script src="~/jquery/jquery-3.3.1.min.js"></script>
@*==============================================================================================*@
<script src="~/Bootstrap/js/bootstrap.min.js"></script>
@*==============================================================================================*@

<script type="text/javascript" class="init">
    var table;
    $(document).ready(function () {
        var cargandoGeneral = Swal.fire({
            title: 'Cargando datos ...',
            allowOutsideClick: false,
            showCancelButton: false,
            showConfirmButton: false,
        });
        table = $('#tablaProductos').dataTable({
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json",
            },

            ajax: {
                type: "POST",
                url: '@Url.Action("listarProductos", "Inventario")',

                complete: function (data) {
                    cargandoGeneral.close();
                }
            },

            columns: [
                {
                    "name": "Nombre",
                    "render": function (data, type, row, meta) {
                        return row.Nombre;
                    },
                },
                {
                    "name": "Stock",
                    "render": function (data, type, row, meta) {
                        return row.Stock;
                    },
                },
                {
                    "name": "PrecioCompra",
                    "render": function (data, type, row, meta) {
                        return row.PrecioCompra;
                    },
                },
                {
                    "name": "PrecioVenta",
                    "render": function (data, type, row, meta) {
                        return row.PrecioVenta;
                    },
                },
                {
                    "name": "Agregado",
                    "render": function (data, type, row, meta) {
                        var fecha = "";
                        if (row.Agregado) {
                            fecha = row.Agregado == '0001-01-01T00:00:00' ? '' : row.Agregado.split('T')[0].split('-').reverse().join('/');
                        }
                        return fecha;
                    },
                },
                {
                    data: "Id", "render": function (Id) {
                        return '<button type="button" class="btn btn-outline-danger btn-sm" onclick="eliminar(' + Id
                            + ');"><i class="fa fa-trash"></i></button> <button type="button" class="btn btn-outline-primary btn-sm" onclick="editar(' + Id
                            + ');"><i class="fas fa-pencil-alt"></i></button>';
                    }
                }
            ]
        });

        $('#btnGuardar').click(function () {
            guardar();
        })

        $('#btnGuardarEditar').click(function () {
            guardarEditar();
        })
    });

    function guardar() {
        Swal.fire({
            title: "Guardando..",
            onOpen: () => {
                swal.showLoading()
                $.ajax({
                    type: "POST",
                    url: "/Inventario/guardar",
                    data: {
                        "Id": $('#Id').val(),
                        "Nombre": $('#txtNombre').val(),
                        "Stock": $('#txtCantidad').val(),
                        "PrecioCompra": $('#txtPrecioCompra').val(),
                        "PrecioVenta": $('#txtPrecioVenta').val()
                    },
                    success: function (data) {
                        $("#divBotones").show();
                        if (data["status"] == true) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Se ha guardado el producto',
                                showCloseButton: true,
                                allowEnterKey: true,
                                onClose: () => {
                                    $('#Id').val(data["datos"]["Id"]);
                                    actualizar();
                                }
                            });
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                showConfirmButton: true,
                                text: data["mensaje"]
                            });
                        }
                    },
                    error: function (request, status, error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: request.responseText
                        });
                    }
                });
            },
            onClose: () => {

            }
        });
    }

    function guardarEditar() {
        Swal.fire({
            title: "Guardando..",
            onOpen: () => {
                swal.showLoading()
                $.ajax({
                    type: "POST",
                    url: "/Inventario/guardar",
                    data: {
                        "Id": $('#Id').val(),
                        "Nombre": $('#txtNombreEditar').val(),
                        "Stock": $('#txtCantidadEditar').val(),
                        "PrecioCompra": $('#txtPrecioCompraEditar').val(),
                        "PrecioVenta": $('#txtPrecioVentaEditar').val()
                    },
                    success: function (data) {
                        $("#divBotones").show();
                        if (data["status"] == true) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Se ha guardado el producto',
                                showCloseButton: true,
                                allowEnterKey: true,
                                onClose: () => {
                                    $('#Id').val(data["datos"]["Id"]);
                                    actualizar();
                                }
                            });
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                showConfirmButton: true,
                                text: data["mensaje"]
                            });
                        }
                    },
                    error: function (request, status, error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: request.responseText
                        });
                    }
                });
            },
            onClose: () => {

            }
        });
    }

    function eliminar(Id) {
        Swal.fire({
            title: '¿Esta seguro que quiere eliminar el producto?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Si',
            cancelButtonText: 'No',
        }).then(
            function (result) {
                if (result.value) {
                    Swal.fire({
                        title: 'Eliminando..',
                        onOpen: () => {
                            swal.showLoading()
                            $.ajax({
                                type: "POST",
                                url: "/Inventario/eliminar",
                                data: { 'Id': Id },
                                success: function (data) {
                                    if (data["status"] == true) {
                                        Swal.fire({
                                            icon: 'success',
                                            title: 'Producto eliminado',
                                            showCloseButton: true,
                                            allowEnterKey: true,
                                            onClose: () => {
                                                actualizar();
                                            }
                                        });
                                    }
                                    else {
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Oops...',
                                            showConfirmButton: true,
                                            text: data["mensaje"]
                                        });
                                    }
                                },
                                error: function (error) {
                                    console.log(error);
                                }
                            })
                        },
                        onClose: () => {

                        }
                    })
                }
            });
    }

    function editar(Id) {
        $.ajax({
            type: "POST",
            url: "/Inventario/editar",
            data: { "Id": Id },
            success: function (data) {
                $('#modalEditarProducto').modal('show');
                $("#divMensajeError").hide();
                $("#divMensaje").hide();
                if (data["status"] == true) {
                    $('#Id').val(data["datos"]["Id"]);
                    $('#txtNombreEditar').val(data["datos"]["Nombre"]);
                    $('#txtCantidadEditar').val(data["datos"]["Stock"]);
                    $('#txtPrecioCompraEditar').val(data["datos"]["PrecioCompra"]);
                    $('#txtPrecioVentaEditar').val(data["datos"]["PrecioVenta"]);
                }
                else {
                    $("#divMensajeError").show();
                    $("#divMensajeError").html(data["mensaje"]);
                }
            },
            error: function (error) {
                $('#modalEditarProducto').modal('toggle');
                $("#divMensajeError").show()
                $("#divMensajeError").html(error);
            }
        });
    }

    //Actualiza la datatable
    function actualizar() {
        table.api().ajax.reload(null, false); //reload de datatable ajax
    }

</script>

<br />
<br />

<div class="col-md-8">
    <div class="card">
        <div class="card-header">
            <strong>Panel de Control Inventario</strong>  <small>Version 1.0</small>
        </div>
        <div class="card-body">
            <canvas id="ChartInventarios"></canvas>
        </div>
    </div>
</div>

<br />
<br />

<div class="card border-success mb-3" style="max-width: 80rem;">
    <div class="card">
        <div class="card-header">
            <strong><i class="fas fa-pallet"></i> Productos</strong>
            <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#modalAgregarProducto"><i class="fas fa-plus"></i> Agregar Producto</button>
        </div>
        <div class="card-body">
            <!--Table-->
            <table id="tablaProductos" class="table table-hover table-fixed" style="width:100%">
                <thead>
                    <tr>
                        <th> Nombre </th>
                        <th> Stock </th>
                        <th> Precio de compra </th>
                        <th> Precio de venta </th>
                        <th> Agregado </th>
                        <th>  </th>
                    </tr>
                </thead>
                <tfoot>

                </tfoot>
            </table>
            <!--Table-->
        </div>
    </div>
</div>


<!-- The Modal create -->
<div class="modal fade" id="modalAgregarProducto">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><i class="fas fa-pallet"></i> Agregar Producto</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <input type="hidden" id="Id" name="Id" />
                <label>Nombre</label>
                <input type="text" id="txtNombre" name="txtNombre" class="form-control">
                <label>Cantidad</label>
                <input type="number" id="txtCantidad" name="txtCantidad" class="form-control">
                <label>Precio de compra</label>
                <input type="number" id="txtPrecioCompra" name="txtPrecioCompra" class="form-control">
                <label>Precio de venta</label>
                <input type="number" id="txtPrecioVenta" name="txtPrecioVenta" class="form-control">
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div id="divBotones">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>
                    <button id="btnGuardar" type="button" class="btn btn-primary" data-dismiss="modal"><i class="far fa-save"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Modal edit -->
<div class="modal fade" id="modalEditarProducto">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><i class="fas fa-pallet"></i> Editar Producto</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <input type="hidden" id="Id" name="Id" />
                <label>Nombre</label>
                <input type="text" id="txtNombreEditar" name="txtNombreEditar" class="form-control">
                <label>Cantidad</label>
                <input type="number" id="txtCantidadEditar" name="txtCantidadEditar" class="form-control" disabled>
                <label>Precio de compra</label>
                <input type="number" id="txtPrecioCompraEditar" name="txtPrecioCompraEditar" class="form-control">
                <label>Precio de venta</label>
                <input type="number" id="txtPrecioVentaEditar" name="txtPrecioVentaEditar" class="form-control">
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div id="divBotones">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>
                    <button id="btnGuardarEditar" type="button" class="btn btn-primary" data-dismiss="modal"><i class="far fa-save"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var ctx = document.getElementById("ChartInventarios").getContext("2d");
    var MyChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Monitor SV', 'Electroquirúrgicas', 'Electrocardiograma', 'Respirador artificial', 'Desfibrilador', 'Esterilizadores', 'Ultrasonido', 'Camillas y mesas quirúrgicas'],
            datasets: [{
                label: 'Numero de equipo quirúrgico',
                data: [@StockMonitor, @StockElectroquirúrgicas, @StockElectrocardiograma, @StockRespArtificial, @StockDesfibrilador, @StockEsterilizadores, @StockUltrasonido, @StockCamasCamillas],
                backgroundColor: [
                    'rgb(0, 153, 255, 0.5)',
                    'rgb(163, 0, 204, 0.5)',
                    'rgb(0, 51, 17, 0.5)',
                    'rgb(255, 102, 0, 0.5)',
                    'rgb(179, 179, 0, 0.5)',
                    'rgb(255, 0, 0, 0.5)',
                    'rgb(0, 255, 255, 0.5)',
                    'rgb(204, 51, 0, 0.5)'
                ]
            }]
        }
    });
</script>


<script type="text/javascript" src="~/DataTables/datatables.min.js" defer></script>
@*==============================================================================================*@
<script src="~/SweetAlert2/sweetalert2.all.min.js"></script>